<center>
<div class="container">
<form>
	First name<input class="input-box" ng-model=newUser.firstName size="20" autofocus><br><br>
	Last name <input class="input-box" ng-model=newUser.lastName
		size="20"><br><br>
	email<br> <input class="input-box"
		ng-model=newUser.email size="20"><br><br>
	password<input
		class="input-box" ng-model=newUser.password size="20"
		ng-enter='addNewUser(newUser.firstName, newUser.lastName,
    newUser.email, newUser.password)'>
	<button
		ng-click='addNewUser(newUser.firstName, newUser.lastName,
    
    newUser.email, newUser.password)'>Register</button>
</form>
</div>
</center>

<br>
<br>