<html ng-app="MRS">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="myRunningShoes.css" rel="stylesheet" type="text/css">
    <title>myRunningShoes login</title>
</head>
<body ng-controller='MRSController'>
<center>
<div ng-hide='loginStatehide'>
    <h3 class="mrsstyle">Enter email and password (or guest/guest)</h3>
    <input ng-model = email size="20"  autofocus>
    <input ng-model = password size="20"  ng-enter='login(email, password)'>
    <button ng-click='login(email, password)'>login</button><br>
</div>
    <div ng-show="loginErrorShow">
        <h5 class="mrserror">Login error</h5></div>
    </div>
<div class=”mrsuser”>
    <br>
    <h3 >{{welcome}} <br><br>
    <span>{{currUser.firstName}}</span>
    <span>{{currUser.lastName}}</span>
    </h3>
    <br>
</div>
<div>
    <table border="1" ng-show=shoeTableShow>
    <tr>
    	<td>Shoe</td><td>miles</td>
      <tr  ng-repeat= 'shoe in currUserShoes'>
        <td>{{shoe.year}}
            {{shoe.make}}
            {{shoe.model}}
        </td>
          <td>
            {{shoe.miles}}
          </td>
          <td>
          <input size="2" ng-model = inputMiles>
          <button ng-click='saveMiles(currUser.User, shoe.userShoesId, inputMiles)'>
              add miles</button>
          </td>
      </tr>
    </table>
    <br>
</div>

    <div ng-show='ShoeButtonListShow'>
        <button ng-click='getAllShoes()'>add shoe</button>
    </div>
    <div ng-show='ShoeListShow'>
    <select ng-model="selectedItem">
        <option ng-repeat="shoe in shoeList" value="{{shoe.shoeId}}">{{shoe.year}} {{shoe.make}} {{shoe.model}}</option>
    </select>
        <button ng-click='addUserShoe(currUser.User, selectedItem)'>add shoe</button>
    </div>

</center>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="MRSController.js"></script>
<script src="userService.js"></script>
<script src="shoeService.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>

</body>
</html>
