<html ng-app="user">
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link href="myRunningShoes.css" rel="stylesheet" type="text/css">
    <title>myRunningShoes login</title>
</head>
<body ng-controller='userController'>
<div ng-hide='loginStatehide'>
    <center>
    <h3 class=”mrssytle”>Enter user id</h3>
    <input ng-model = userId size="2">
    <button ng-click='getUser(userId)'>login</button><br>
    </center>
</div>
<center>
<div>
    <br>
    <h3 class=”mrssytle”>{{welcome}}
    <span>{{currUser.firstName}}</span>
    <span>{{currUser.lastName}}</span>
    </h3>
    <br>
</div>
<div>
    <table>
      <tr  ng-repeat= 'shoe in currUserShoes'>
        <td>{{shoe.year}}
            {{shoe.make}}
            {{shoe.model}}
        </td>
          <td>
            {{shoe.miles}}
        </td>
          <td>
          <input size="2" ng-model = inputMiles>
          <button ng-click='saveMiles(currUser.User, shoe.userShoesId, inputMiles)'>
              add miles</button>
          </td>
      </tr>
    </table>
    </center>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
<script src="user.js"></script>
<script src="userService.js"></script>
</body>
</html>
