.mrsstyle { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; }
.mrsuser { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; font-size: 200%; }
.mrserror { font-family: Verdana, Arial, Helvetica, sans-serif; font-weight: bold; color: #FF0000; }

body {
    background-image: url("sunset-run-600.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    text-align: center;
    vertical-align: middle;
width:250px;
}

input.input-box, textarea { background: #F7A17C; }

#child {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

.container {
    width: 500px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}